.header {
  padding-left: 4%;
  padding-right: 4%;
}
.header > * {
  width: 100%;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Thin.eot");
  src: url("/fonts/montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-Thin.woff") format("woff"), url("/fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ThinItalic.eot");
  src: url("/fonts/montserrat/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-ThinItalic.woff") format("woff"), url("/fonts/montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraLight.eot");
  src: url("/fonts/montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-ExtraLight.woff") format("woff"), url("/fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraLightItalic.eot");
  src: url("/fonts/montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff"), url("/fonts/montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Light.eot");
  src: url("/fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-Light.woff") format("woff"), url("/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-LightItalic.eot");
  src: url("/fonts/montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-LightItalic.woff") format("woff"), url("/fonts/montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Regular.eot");
  src: url("/fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Italic.eot");
  src: url("/fonts/montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-Italic.woff") format("woff"), url("/fonts/montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Medium.eot");
  src: url("/fonts/montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-MediumItalic.eot");
  src: url("/fonts/montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-MediumItalic.woff") format("woff"), url("/fonts/montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-SemiBold.eot");
  src: url("/fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-SemiBoldItalic.eot");
  src: url("/fonts/montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("/fonts/montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Bold.eot");
  src: url("/fonts/montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-BoldItalic.eot");
  src: url("/fonts/montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-BoldItalic.woff") format("woff"), url("/fonts/montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraBold.eot");
  src: url("/fonts/montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"), url("/fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraBoldItalic.eot");
  src: url("/fonts/montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"), url("/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Black.eot");
  src: url("/fonts/montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-Black.woff") format("woff"), url("/fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-BlackItalic.eot");
  src: url("/fonts/montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("/fonts/montserrat/Montserrat-BlackItalic.woff") format("woff"), url("/fonts/montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  min-width: 320px;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: 0;
  background-color: #fff;
}

body,
select,
input,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Montserrat", Arial, sans-serif;
  color: #1d1d1d;
}

a {
  color: #0b1c39;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:hover, a:focus-visible {
  color: #2572ff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  line-height: 1.3;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: clamp(1.8rem, 5.6vw, 2.4rem);
}

h2,
.h2 {
  font-size: clamp(1.6rem, 4.66667vw, 2rem);
}

h3,
.h3 {
  font-size: clamp(1.2rem, 3.26667vw, 1.4rem);
}

ol,
ul {
  list-style: none;
}

a:focus-visible,
select:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
.focus:focus-visible {
  outline: 2px solid #2572ff;
  outline-offset: 2px;
}

.title_hide {
  left: -9999px;
  position: absolute;
  top: -9999px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.top-info {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  font-size: clamp(0.71rem, 1.55556vw, 1rem);
}

.btn {
  border: 0 none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none !important;
  background: transparent;
}

.btn-default,
.btn-white {
  text-transform: uppercase;
  height: 46px;
  border-radius: 23px;
  line-height: 46px;
  padding: 0 25px;
  font-weight: 600;
  border: 1px solid #1d1d1d;
}

.btn-default {
  background-color: #1d1d1d;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #1d1d1d;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  vertical-align: middle;
  height: 46px;
  border-radius: 23px;
  background-color: #fff;
  font-size: 0.93rem;
  border: 1px solid #b6b6b6;
}

.tab-pane:not(.show) {
  display: none;
}

.header {
  background: #404444;
}
.header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

.header__logo a {
  display: block;
  padding: 5px 0;
}
.header__logo img {
  display: block;
  width: 110px;
  height: 24px;
}

.header__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}
.header__right button,
.header__right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}
.header__right img {
  display: block;
  width: 24px;
  height: 24px;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal[aria-hidden=true] {
  display: none;
}

.modal-dialog {
  background-color: #fff;
  width: 100%;
  position: relative;
}
.modal-dialog .btn.close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
}
.modal-dialog .btn.close img {
  display: block;
  width: 16px;
  height: 16px;
}
.modal-dialog *[aria-selected=true] {
  display: none;
}
.modal-dialog .btn {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  display: none;
}

.modal-header {
  margin-bottom: 15px;
  text-align: center;
}

.modal-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.modal-body form > * {
  width: 100%;
}
.modal-body form > * label {
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 575.98px) {
  .modal-dialog {
    height: 100%;
    padding: 30px;
  }
  .modal-backdrop {
    background-color: #fff;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 470px;
    margin: 50px auto;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
  }
  .modal-backdrop {
    background-color: #000;
    opacity: 0.5;
  }
}