.header__top-info {
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	padding: 15px;
	font-size: clm_rem(0.71, 900, 1);
}
.header__content {
	background: $color_background_header;
	@extend %max_wight;
	padding: 0 4%;
	> * {
		display: flex;
		align-items: center;
		height: 72px;
		position: relative;
	}
}
.header__logo {
	a {
		display: block;
		padding: 5px 0;
	}
	img {
		display: block;
		width: 110px;
		height: 24px;
	}
}
.header__right {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
	padding-left: 10px;
}
.header__right,
.header__btn-mob {
	button,
	a {
		display: block;
		width: 40px;
		height: 40px;
		position: relative;
	}
	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 24px;
		height: 24px;
		transition:
			opacity 0.3s ease,
			transform 0.3s ease;
		&.off {
			width: 16px;
			height: 16px;
		}
	}
}
.header__right {
	.btn-search {
		&[aria-expanded="false"] {
			.off {
				opacity: 0;
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}
		&[aria-expanded="true"] {
			.on {
				opacity: 0;
				transform: translate(-50%, -50%) rotate(-180deg);
			}
		}
	}
}
.header__btn-mob {
	margin-right: 10px;
}

.header-search {
	display: none;
	position: absolute;
	top: 0;
	height: 100%;
	right: 185px;
	width: calc(100% - 185px);
	max-width: 300px;
	form {
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;

		input[type="search"] {
			padding-left: 46px;
			outline: none;
		}
		.btn {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 46px;
			width: 46px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media (max-width: 991.98px) {
	.header__right .btn-search {
		display: none;
	}
}

@media (min-width: 992px) {
	.header__btn-mob {
		display: none;
	}
}
