.header__top-info {
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	padding: 15px;
	font-size: clm_rem(0.71, 900, 1);
}
.header__content {
	background: $color_background_header;
	@extend %max_wight;
	padding: 0 4%;
	> * {
		display: flex;
		align-items: center;
		height: 72px;
	}
}
.header__logo {
	a {
		display: block;
		padding: 5px 0;
	}
	img {
		display: block;
		width: 110px;
		height: 24px;
	}
}
.header__right {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
	padding-left: 10px;
}
.header__right,
.header__btn-mob {
	button,
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
	}
	img {
		display: block;
		width: 24px;
		height: 24px;
	}
}
.header__btn-mob {
	margin-right: 10px;
}

@media (max-width: 991.98px) {
	.header__right .btn-search {
		display: none;
	}
}

@media (min-width: 992px) {
	.header__btn-mob {
		display: none;
	}
}
