.title_hide {
	left: -9999px;
	position: absolute;
	top: -9999px;
	overflow: hidden;
	width: 0;
	height: 0;
}
.top-info {
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	padding: 15px;
	font-size: clm_rem(0.71, 900, 1);
}

.btn {
	border: 0 none;
	cursor: pointer;
	overflow: hidden;
	text-decoration: none !important;
	background: transparent;
}
input[type="text"],
input[type="password"],
input[type="email"] {
	display: inline-block;
	width: 100%;
	padding: 0 10px;
	vertical-align: middle;
	height: 46px;
	border-radius: 23px;
	background-color: #fff;
	font-size: 0.93rem;
	border: 1px solid $color_border;
}
