*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html {
	min-height: 100%;
}
body {
	min-height: 100%;
	min-width: 320px;
	max-width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
	outline: 0;
	background-color: #fff;
}
body,
select,
input,
textarea,
button {
	font-size: #{$font_size_default + px};
	line-height: 1.5;
	font-family: "Montserrat", Arial, sans-serif;
	color: $color_text;
}
a {
	color: $color_link;
	text-decoration: none;
	transition: color 0.2s ease;
	&:hover,
	&:focus-visible {
		color: $color_link_hover;
	}
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
	line-height: 1.3;
	font-weight: 600;
	text-rendering: optimizeLegibility;
}
h1,
.h1 {
	font-size: clm_rem(1.8, 600, 2.4);
}
h2,
.h2 {
	font-size: clm_rem(1.6, 600, 2);
}
h3,
.h3 {
	font-size: clm_rem(1.2, 600, 1.4);
}
ol,
ul {
	list-style: none;
}

a,
select,
button,
input,
textarea,
.focus {
	&:focus-visible {
		outline: 2px solid $color_link_hover;
		outline-offset: 2px;
	}
}
%focus_white {
	&:focus-visible {
		outline-color: #fff;
	}
}
%focus_inside {
	&:focus-visible {
		outline-offset: -2px;
	}
}
