$font_size_default: 14;

$color_text: #1D1D1D;
$color_border: #b6b6b6;
$color_link: #0b1c39;
$color_link_hover: #2572ff;

$color_background_header: #404444;

@function clm_rem($min, $width, $max) {
	$min_rem: #{$min + rem};
	$max_rem: #{$max + rem};
	$width_vw: #{calc(round(($max * $font_size_default) / ($width / 100) * 100000) / 100000) + vw};
	@return clamp($min_rem, $width_vw, $max_rem);
}

@function clm_px($min, $width, $max) {
	$min_px: #{$min + px};
	$max_px: #{$max + px};
	$width_vw: #{calc(round($max / ($width / 100) * 100000) / 100000) + vw};
	@return clamp($min_px, $width_vw, $max_px);
}

%max_wight {
	padding-left: 4%;
	padding-right: 4%;
	> * {
		width: 100%;
		max-width: 1290px;
		margin-left: auto;
		margin-right: auto;
	}
}

@import "_font";
@import "_reset";
@import "_other";
@import "_menu";
@import "_header";
@import "_main";
@import "_footer";
@import "_login";
